
body
{
    background-color: white;
}
h1
{
    text-align: center;
    background-color: grey;
}
body
{
    background-color: rgb(165, 165, 165);

}
footer
{
    background-color: grey;
}
section
{
    border-width: 1px; 
    border-style: solid;
    border-color: black;
    margin: 0% 10%;
}